In [1]:
import pandas as pd
import json

In [87]:
with open('game_details.json') as json_file:
    data = json.load(json_file)

### To dataframe. Worry about conversion (float/int) later

In [88]:
games = dict()
games["gameId"] = list()
games["teamId"] = list()
games["playerId"] = list()
games["min"] = list()
games["fgm"] = list()
games["fga"] = list()
games["ftm"] = list()
games["fta"] = list()
games["tpm"] = list()
games["tpa"] = list()
games["offReb"] = list()
games["defReb"] = list()
games["assists"] = list()
games["steals"] = list()
games["blocks"] = list()
games["pFouls"] = list()
games["turnovers"] = list()
games["plusMinus"] = list()

In [89]:
for raw_data in data:
    dat = raw_data["api"]["statistics"]
    for d in dat:
        games["gameId"].append(d["gameId"])
        games["teamId"].append(d["teamId"])
        games["playerId"].append(d["playerId"])
        games["min"].append(d["min"])
        games["fgm"].append(d["fgm"])
        games["fga"].append(d["fga"])
        games["ftm"].append(d["ftm"])
        games["fta"].append(d["fta"])
        games["tpm"].append(d["tpm"])
        games["tpa"].append(d["tpa"])
        games["offReb"].append(d["offReb"])
        games["defReb"].append(d["defReb"])
        games["assists"].append(d["assists"])
        games["steals"].append(d["steals"])
        games["blocks"].append(d["blocks"])
        games["pFouls"].append(d["pFouls"])
        games["turnovers"].append(d["turnovers"])
        games["plusMinus"].append(d["plusMinus"])

In [90]:
df = pd.DataFrame(games)

In [92]:
# print(df.dtypes)
# df.head()
df.loc[4807]

gameId        4462
teamId           1
playerId       320
min          18:58
fgm              0
fga              5
ftm              3
fta              4
tpm              0
tpa              2
offReb           0
defReb           4
assists          3
steals           0
blocks           0
pFouls           0
turnovers        2
plusMinus        9
Name: 4807, dtype: object

### convert to appropriate data types

In [30]:
# df["min"].str.find(":")
print(df["min"][0].find(":"))
print(df["min"][0][:])
print(df["min"][0][:2])
print(df["min"][0][2:])

2
24:44
24
:44

In [81]:
def toIntMin(str):
    if str == "":
        return 0
    elif len(str) < 1:
        return 0
    
    col_idx = str.find(":")
    ret = int(str[:col_idx])
    return ret

def toIntSec(str):
    if str == "":
        return 0
    elif len(str) < 1:
        return 0
    
    col_idx = str.find(":")
    ret = int(str[col_idx+1:])
    return ret

In [13]:
test = ""
print(toIntMin(test))
print(toIntSec(test))

0
0

In [82]:
df["minutes"] = df["min"].apply(toIntMin)
df["seconds"] = df["min"].apply(toIntSec)

In [83]:
def convertTodigit(digit, isInt=True):
    digit = digit.strip()
    if digit == "":
        return 0
    elif len(digit) < 1:
        return 0
    
    if isInt:
        return int(digit)
    else:
        return float(digit)

In [84]:
df["fgm"] = df["fgm"].apply(convertTodigit)
df["fga"] = df["fga"].apply(convertTodigit)
df["ftm"] = df["ftm"].apply(convertTodigit)
df["fta"] = df["fta"].apply(convertTodigit)
df["tpm"] = df["tpm"].apply(convertTodigit)
df["tpa"] = df["tpa"].apply(convertTodigit)
df["offReb"] = df["offReb"].apply(convertTodigit)
df["defReb"] = df["defReb"].apply(convertTodigit)
df["assists"] = df["assists"].apply(convertTodigit)
df["steals"] = df["steals"].apply(convertTodigit)
df["blocks"] = df["blocks"].apply(convertTodigit)
df["pFouls"] = df["pFouls"].apply(convertTodigit)
df["turnovers"] = df["turnovers"].apply(convertTodigit)
df["plusMinus"] = df["plusMinus"].apply(convertTodigit)

In [85]:
df.dtypes

gameId       object
teamId       object
playerId     object
min          object
fgm           int64
fga           int64
ftm           int64
fta           int64
tpm           int64
tpa           int64
offReb        int64
defReb        int64
assists       int64
steals        int64
blocks        int64
pFouls        int64
turnovers     int64
plusMinus     int64
minutes       int64
seconds       int64
dtype: object

In [86]:
df

,gameId,teamId,playerId,min,fgm,fga,ftm,fta,tpm,tpa,offReb,defReb,assists,steals,blocks,pFouls,turnovers,plusMinus,minutes,seconds
0,4308,18,688,24:44,1,8,2,3,0,0,1,2,1,4,0,2,1,-16,24,44
1,4308,18,1097,31:59,4,9,2,2,3,6,1,4,0,1,0,5,4,-9,31,59
2,4308,18,1099,31:28,8,13,3,3,0,0,3,10,1,0,0,3,1,-14,31,28
3,4308,18,1100,19:58,6,12,0,0,1,6,0,1,2,0,0,1,2,-12,19,58
4,4308,18,706,39:29,6,22,4,4,3,12,0,3,5,4,0,4,5,-12,39,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13176,4807,5,411,18:47,1,5,0,0,0,1,0,2,4,2,0,2,2,-10,18,47
13177,4807,5,842,11:52,3,4,1,1,2,3,0,2,5,0,0,3,3,-7,11,52
13178,4807,5,734,0:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13179,4807,5,973,0:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13180,4807,5,231,0:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0